@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: grid;
    justify-items: center;
}

header {
    font-weight: bold;
    font-size: 80px;
    padding: 25px;
}

.game-board {
    min-height: 700px;
    height: auto;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(239 233 219 / 0%);
    background-image: url("./images/background.jpg");
}

.cell:nth-child(3n-1){
    border-left: 15px solid black;
    border-right: 15px solid black;
}

.cell:nth-child(n+4):nth-child(-n+6){
    border-top: 15px solid black;
    border-bottom: 15px solid black;
}

.cell {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.cell > img {
    max-width:100%;
    max-height:100%;
}