@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: grid;
    justify-items: center;
    background-color: #353535;
}

header {
    font-weight: bold;
    font-size: 80px;
    padding: 25px;
}

.players {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-size: 35px;
    text-align: center;
}

.player-o > p, .player-x > p{
    margin: 5px;
}

.sign {
    font-size: 60px;
}

.player-active {
    text-shadow: 0 0 5px #00ff10;
}

.game-board {
    min-height: 700px;
    height: auto;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(239 233 219 / 0%);
    background-image: url("./images/background.jpg");
}

.cell:nth-child(3n-1){
    border-left: 15px solid black;
    border-right: 15px solid black;
}

.cell:nth-child(n+4):nth-child(-n+6){
    border-top: 15px solid black;
    border-bottom: 15px solid black;
}

.cell {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.cell > img {
    max-width:100%;
    max-height:100%;
}

.modal {
    display: none; /* Hidden by default */
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 25px 40px;
    width: auto;
    border-radius: 10px;
}

.modal-content > p {
    font-size: 60px;
    text-align: center;
    margin: 0;

}

#result {
    font-size: 350px;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 25px;
}

button {
    margin-right: 15px;
    height: 60px;
    width: 300px;
    padding: 5px 10px;
    font-size: 25px;
    font-weight: bold;
    background-color: black;
    border: 2px solid red;
    color: red;
    border-radius: 25px;
}

button:hover {
    background-color: #312e2e;
}

button:active {
    background-color: #252525;
}